@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.btn{
  border-radius: 14px;
background: #1B3ADB;
width: 332px;
height: 61px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

textarea {
  min-height: 100px;
}


h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

input,select{
  border-width: 1px;
  padding: 1rem;
  outline: none;
  border-radius: 0.75rem;
}

textarea{
  border-width: 1.8px;
  padding: 1rem;
  width: 100%;
  outline: none;
  border-radius: 0.75rem;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}

.loader{
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

/* input,select{
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


#recaptcha-container {
  margin: 20px;
}

.wallet-label{
  @apply opacity-90 text-[.8rem]
}

.heading-style-1{
  @apply font-bold text-center text-xl leading-7 mt-8;
}
/* font-weight: 700;
text-align: center;
font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 2rem; */